.aboutproject {
    display: flex;
    max-height: 608px;
    margin: 0;
    padding: 110px 70px;
    background-color: #202020;
    flex-flow: column wrap;
}

@media screen and (max-width: 1090px) {
    .aboutproject {
        padding: 90px 50px;
    }
}

@media screen and (max-width: 610px) {
    .aboutproject {
        max-height: 641px;
        padding: 70px 18px;
    }
}

.aboutproject__title {
    flex-grow: 1;
    margin: 0;
    padding: 0 0 23px;
    color: #fff;
    border-bottom: 1px solid #DADADA;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
}

@media screen and (max-width: 610px) {
    .aboutproject__title {
        font-size: 18px;
        line-height: 22px;
        padding: 0 0 28px;
    }
}

.aboutproject__info {
    display: flex;
    width: 100%;
    max-height: 90px;
    margin: 70px 0 0;
    padding: 0;
    flex-flow: column wrap;
    list-style: none;
}

@media screen and (max-width: 830px) {
    .aboutproject__info {
        max-height: 124px;
    }
}

@media screen and (max-width: 610px) {
    .aboutproject__info {
        display: flex;
        margin: 60px 0 0;
        flex-flow: column nowrap;
        max-height: 272px;
    }
}

.aboutproject__info-text {
    max-width: 50%;
    color: #fff;
}

@media screen and (max-width: 610px) {
    .aboutproject__info-text {
        max-width: 100%;
    }
}

.aboutproject__info-text:nth-child(odd) {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
    .aboutproject__info-text:nth-child(odd) {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 610px) {
    .aboutproject__info-text:nth-child(3) {
        margin: 56px 0 0;
        font-size: 18px;
        line-height: 22px;
    }
}

.aboutproject__info-text:nth-child(even) {
    margin: 26px auto 0 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

@media screen and (max-width: 1090px) {
    .aboutproject__info-text:nth-child(even) {
        margin: 22px auto 0 0;
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 610px) {
    .aboutproject__info-text:nth-child(even) {
        margin: 16px 0 0;
        font-size: 11px;
        line-height: 16px;
    }
}


.aboutproject__progress {
    display: flex;
    max-width: 100%;
    max-height: 67px;
    margin: 110px 0 0;
    padding: 0;
    flex-flow: column wrap;
    align-items: center;
    list-style: none;
}

@media screen and (max-width: 610px) {
    .aboutproject__progress {
        margin: 60px 0 0;
    }
}

@media screen and (max-width: 1090px) {
    .aboutproject__progress:nth-child(even) {
        margin: 93px 0 0;
    }
}

@media screen and (max-width: 610px) {
    .aboutproject__progress:nth-child(even) {
        max-height: 35px;
        margin: 16px 0 0;
    }
}

.aboutproject__progress-text {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.aboutproject__progress-text:nth-child(1) {
    min-width: 20%;
    background-color: #3DDC84;
    color: #000;
}

@media screen and (max-width: 1090px) {
    .aboutproject__progress-text:nth-child(1) {
        min-width: 21%;
    }
}

@media screen and (max-width: 610px) {
    .aboutproject__progress-text:nth-child(1) {
        min-width: 35%;
    }
}

.aboutproject__progress-text:nth-child(3) {
    min-width: 80%;
    background-color: #303030;
}

@media screen and (max-width: 1090px) {
    .aboutproject__progress-text:nth-child(3) {
        min-width: 79%;
    }
}

@media screen and (max-width: 610px) {
    .aboutproject__progress-text:nth-child(3) {
        min-width: 65%;
    }
}

.aboutproject__progress-text:nth-child(odd) {
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 610px) {
    .aboutproject__progress-text:nth-child(odd) {
        font-size: 11px;
        line-height: 13px;
    }
}

.aboutproject__progress-text:nth-child(even) {
    margin: 14px 0 0;
    color: #8B8B8B;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 610px) {
    .aboutproject__progress-text:nth-child(even) {
        margin: 10px 0 0;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
    }
}