.moviescardlist {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    background-color: #202020;
    margin: 0;
    padding: 70px 70px 10px;
    gap: 32px 28px;
}

@media screen and (max-width: 990px) {
    .moviescardlist {
        padding: 70px 30px 30px;
        gap: 35px 24px;
    }
}

@media screen and (max-width: 760px) {
    .moviescardlist {
        padding: 40px 10px 30px;
        gap: 14px;
    }
}