.background-search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #202020;
}

.search-form {
    display: flex;
    flex-direction: column;
    background-color: #202020;
    padding: 70px 70px 48px;
    max-width: 1140px;
    flex: 1;
}

@media screen and (max-width: 990px) {
    .search-form {
        padding: 77px 30px 60px;
    }
}

@media screen and (max-width: 760px) {
    .search-form {
        padding: 81px 14px 50px;
    }
}

.search-form__search {
    display: flex;
    border-bottom: 1px solid #424242;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 0 13px;
}

@media screen and (max-width: 760px) {
    .search-form__search {
        padding: 0 0 8px;
    }
}

.search-form__search-input {
    width: 100%;
    color: #8B8B8B;
    font-size: 28px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    background-color: #202020;
    border: none;
}

@media screen and (max-width: 760px) {
    .search-form__search-input::placeholder {
        font-size: 18px;
    }
}

.search-form__search-button {
    display: flex;
    min-width: 80px;
    height: 34px;
    background-color: #4285F4;
    border: none;
    border-radius: 49px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-form__search-button:hover {
    animation: scaling 1000ms infinite ease;
}

@media screen and (max-width: 760px) {
    .search-form__search-button {
        width: 80px;
        height: 34px;
    }
}

.search-form__filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 33px 0 0;
}

@media screen and (max-width: 990px) {
    .search-form__filter {
        flex-direction: row-reverse;
        margin: 30px 0 0;
    }
}

@media screen and (max-width: 760px) {
    .search-form__filter {
        flex-direction: row-reverse;
        justify-content: center;
        margin: 40px 0 0;
    }
}

.search-form__filter-checkbox {
    margin: 0 17px 0 18px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.search-form__filter-checkbox:hover {
    animation: scaling 1000ms infinite ease;
}

.search-form__filter-checkbox:checked {
    background-color: #3DDC84;
}

@media screen and (max-width: 990px) {
    .search-form__filter-checkbox {
        flex-direction: row-reverse;
        margin: 0 0 0 32px;
    }
}

@media screen and (max-width: 760px) {
    .search-form__filter-checkbox {
        flex-direction: row-reverse;
        justify-content: center;
        margin: 0 0 0 29px;
    }
}

.search-form__filter-text {
    color: #FFF;
    font-size: 13px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 760px) {
    .search-form__filter-text {
        font-size: 11px;
    }
}
