.footer-background {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #202020;
}

.footer {
    display: flex;
    background-color: #202020;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    max-width: 1280px;
    flex: 1;
}

@media screen and (max-width: 990px) {
    .footer {
        margin: 8px 0 0;
    }
}

@media screen and (max-width: 760px) {
    .footer {
        font-size: 12px;
        line-height: 15px;
        margin: 4px 0 0;
    }
}

.footer__up {
    display: flex;
    color: #8B8B8B;
    margin: 79px 0 20px;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 1090px) {
    .footer__up {
        margin: 72px 0 20px;
    }
}

@media screen and (max-width: 760px) {
    .footer__up {
        margin: 76px 0 20px;
    }
}

.footer__down {
    display: flex;
    margin: 0 70px 0;
    padding: 0;
    border-top: 1px solid #424242;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1090px) {
    .footer__down {
        margin: 0 30px 0;
    }
}

@media screen and (max-width: 760px) {
    .footer__down {
        margin: 0 10px 0;
        flex-direction: column-reverse;
    }
}

.footer__down-copyright {
    color: #fff;
    margin: 20px 0;
    padding: 0;
}

@media screen and (max-width: 760px) {
    .footer__down-copyright {
        margin: 30px 0 20px;
        color: #8B8B8B
    }
}

.footer__copyright-links {
    display: flex;
}

@media screen and (max-width: 760px) {
    .footer__copyright-links {
        margin: 30px 0 0;
        row-gap: 12px;
        flex-direction: column;
        align-items: center;
    }
}

.footer__copyright-link {
    color: #fff;
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
}

.footer__copyright-link_praktikum {
    margin-right: 20px;
}

@media screen and (max-width: 760px) {
    .footer__copyright-link_praktikum {
        margin: 0;
        padding: 0;
    }
}